<form [formGroup]="form" (ngSubmit)='onsubmit()' >
  <fieldset>
    <legend>Login</legend>
    
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email"  [(ngModel)]="name" class="form-control" formControlName="email" id="exampleInputEmail1"  aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    {{name}}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
  <span> {{password}} </span>
    </div>
        
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>